<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row text-center">
      <!-- Admin Box -->
      <div class="col-md-6 mb-4">
        <div class="card border rounded shadow-lg h-100 custom-box hover-box">
          <div class="card-body">
            <img src="assets/admin.png" alt="Admin Icon" class="img-fluid rounded-circle mb-3" style="width: 120px; height: 120px;">
            <h4 class="card-title">Admin</h4>
            <p class="card-text">Access the admin panel to manage employee data and settings.</p>
            <a href="http://localhost:4200/loginsignup" class="btn btn-primary">Admin</a>
          </div>
        </div>
      </div>

      <!-- User Box -->
      <div class="col-md-6 mb-4">
        <div class="card border rounded shadow-lg h-100 custom-box hover-box">
          <div class="card-body">
            <img src="assets/staff.png" alt="User Icon" class="img-fluid rounded-circle mb-3" style="width: 120px; height: 120px;">
            <h4 class="card-title">Employee</h4>
            <p class="card-text">Access your profile and manage your personal information.</p>
            <a href="http://localhost:4200/loginsignup" class="btn btn-success"  >Employee</a>
          </div>
        </div>
      </div>
    </div>
  </div>
